.white-section{
  display: block;
  position: absolute;
  top: 550px;
  left: 650px;
}
.social-icon{
  margin: 30px 20px;
}
.contact {
  background-color: white;
}
h1 {
  background-color: #D3D3D3;
  text-align: center;
  color: blue;
  font-size: 450%;
  position: absolute;
  top: 90px;
  left: 150px;
  font-style: oblique;

}

h2{
  position: absolute;
  top: 230px;
  left: 420px;
  color: red;
  font-size: 250%;
}

h3
{
  position: absolute;
  top: 320px;
  left: 320px;
  font-size: 330%;
  font-family: monospace;

}

.container{
  position: absolute;
  padding: 12px 20px;
  text-align: center;
  top: 380px;
  left: 200px;
}

input[type=text]:focus {
  background-color: lightblue;
}

.button{
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  top: 450px;
  left: 715px;
  border-radius: 15%;
}

.button:hover{
  color: black;
}
